.b-lightbox {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, calc(var(--opacity, 1) * 0.8));
	transition: background-color 0.8s cubic-bezier(0.16, 1, 0.3, 1);
	touch-action: none;

	[data-wrap] {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		@screen md {
			width: 80%;
			height: 80%;
		}
	}

	[data-figure] {
		/* Fixes trailing dead pixels on iOS and significantly improves
		performance due to no repaints, but causes extra large images to be
		blurry on iOS. */
		will-change: transform;
		transform-origin: left top;
		transition: transform 0.8s cubic-bezier(0.16, 1, 0.3, 1);
	}

	[data-img] {
		user-select: none;
	}

	&.is-moved {
		transition: none;

		[data-figure] {
			transition: none;
		}
	}
}
